body{
  background-color: black;
  font-family: 'Advent Pro';font-size: 16px;
  margin: 0;
}
#main {
  margin: 0;
  padding: 0; 
}
h1 {
    
}
.responsive {
  max-width: 100%;
  height: 60%;
}
.responsive2 {
  width: auto;
  min-height: 50%;
}
.responsive3 {
  width: auto;
  max-height: 90%;
}
.responsive4 {
  max-width: auto;
  height: 80%;
}
.button {
  background-color: white;
  border: 2px solid red;
  color: RED;
  font-size: 5rem;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 2vw;
  margin: 4px 2px;
  border-radius: 22px;
  cursor: pointer;
}
.contenedor{
      display: grid;
      grid-template-columns: repeat(24, 1fr);
      grid-template-rows: repeat(20, 1fr);
      font-family: 'Advent Pro';
      font-size: 12px;
      margin: 0;
    }
    #logoWoDTop{
     
      align-content: center; 
      grid-row: 1/10;
      grid-column: 8/23;
      padding-top: 1%;
      padding-left: 0%;
    }
    #leftColumn{
      z-index: -2;
      grid-row: 1/21;
      grid-column: 1/7;
    }
    #centerWheel{
      z-index: -1;
      margin: 0;
      grid-row: 3/17;
      grid-column: 11/17;
    }
    #rightColumn{
      z-index: -2;
      grid-row: 1/18;
      grid-column: 19/24;
      padding-top: 2vw;
      padding-left: 2vw;
    }
    #bottomSelectButton{
      z-index: 1;
      margin: 0;
      grid-row: 16/18;
      grid-column: 10/16;
    }
    #bottomResetButton{
      z-index: 1;
      margin: 0;
      grid-row: 16/18;
      grid-column: 20/24;
      padding-left: 1vw;
    }